<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>


</head>
<body>
<table>
    <!--<tr th:each="producto:${listaProductos}">-->
    <!--<td th:text="${producto.numero}"></td>-->
    <!--<td th:text="${producto.concepto}"></td>-->
    <!--<td th:text="${producto.importe}"></td>-->

    <!--</tr>-->

    <tr data-th-each="producto : ${listaProductos}">
        <td>[[${producto.numero}]]</td>
        <td>[[${producto.concepto}]]</td>
        <td>[[${producto.importe}]]</td>
    </tr>
</table>

</body>
</html>