<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="row">
        <div id="title">
            <h1>Spring WebFlux + Thymeleaf</h1>
        </div>
        <table id="allMovies" class="table table-striped">
            <thead>
            <tr>
                <th>Numero</th>
                <th>Concepto</th>
                <th>Importe</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="producto : ${listaProductos}">
                <td>[[${producto.numero}]]</td>
                <td>[[${producto.concepto}]]</td>
                <td>[[${producto.importe}]]</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>